<!-- PWA & Mobile Web App Manifest -->
<link rel="manifest" href="/manifest.json" />
<meta name="theme-color" content="#0b2d6b" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="DSA DSM" />
<link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static', filename='images/icons/icon-192x192.png') }}" />
<link rel="apple-touch-icon" sizes="512x512" href="{{ url_for('static', filename='images/icons/icon-512x512.png') }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/icons/icon-192x192.png') }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icons/icon-96x96.png') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
